.custom-search {
    width: 250px; /* Set your desired width */
  }
  
  .mr-2 {
    margin-right: 8px; /* Add margin to the right of the textbox for spacing */
  }
  
  .header{
    margin-bottom: 20px; 
  }